/**/__pycache__
/.env
/compilation_result.json
/venv
/.vscode
/.DS_Store
/**/.DS_Store
/log
/src/example/**/supersocket
/src/example/**/infoinject
/src/example/**/outvar
/src/example/simpl_bd_not_using_our_sht