# Absolute BS...
/**/__pycache__
/.DS_Store
/**/.DS_Store

# Secrets...
/.vscode
/.env
/venv
/log

# Synchronised files...
/example/**/supersocket
/example/**/ptysocket
/example/**/outvar
/example/**/pls

/_rsync_for_examples_pid.txt
/_rsync_for_examples_state_pids.txt
/_rsync_for_examples_state_dirs.txt

/log.log