# Absolute BS...
/**/__pycache__
/.DS_Store
/**/.DS_Store

# Secrets...
/.vscode
/.env
/venv
/log

# Synchronised files...
/example/**/supersocket
/example/**/ptysocket
/example/**/outvar
/example/**/pls